@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:wght@300;700;900&display=swap');


/* Set the size of the div element that contains the map */
#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    padding-top:-61px;
  }

  

#nav-items{
  text-align:center;
  align-items: right;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  padding:5px 0px 5px 0px;
  margin:10px 0px 10px 0px;
}
.nav{
  margin: 0 auto;
  width: 60%;
  max-height:61px;
  display:grid;
  grid-template-columns: 3% auto;
  grid-column-gap:47%;
}
body{
  font-family: 'Caudex', serif;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color:#323E41;
}

#nav-left{
  float:left;
  display:flex;
}
#nav-left input{
  justify-self:start;
  margin:10px 0px 10px 10px;
  padding-left: 5px;
  border-radius:10px;
  width:500px;
  border-style: none;
  font-family:'Caudex',serif;
}

#nav-items a:hover{
background-color: #ddd;
color: black;
border-radius:10px;
}



#icon{
  padding:15px 0px 10px 0px;
  width:30px;
  height:30px;
  margin:auto;
}
#icon:hover{
  size-adjust: 20px;
}

.nav-link{
  font-size: 18px;
  color:#ECECEC;
  margin: auto;
  padding: 5px 5px 5px 5px;
}